{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:tailwindcss/recommended",
    "airbnb",
    "prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "react-hooks", "jsx-a11y", "tailwindcss"],
  "rules": {
    "react/react-in-jsx-scope": "off", // Not needed in Vite/Next.js
    "tailwindcss/no-custom-classname": "off", // Optional: Allow custom class names
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
    // Add other custom rules as needed
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
